<div class="title">
	<h1>All Contacts</h1>
</div>

<% @contacts.each do |contact| %>
	<div>
		<div>First Name:</div>
		<div><%= contact.first_name %></div>
	</div>
	<div>
		<div>Last Name:</div>
		<div><%= contact.last_name %></div>
	</div>
	<div>
		<div>Email:</div>
		<div><%= contact.email %></div>
	</div>
	<button><a href="/contacts/<%= contact.id %>">Show</a></button>
	<hr>
<% end %>