<div>
	<form action="/contacts/search" method="post">
		<label for="search">Search For A Contact</label>
		<input type="text" name="search"></input>
		<button type="submit">Search</button>
	</form>
</div>