<div class="title">
	<h1>Contact List App</h1>
</div>
<div class="buttons">
	<!-- Create New Contact -->
	<button><a href="/contacts/new">Create New</a></button>
		
	<!-- See All Contacts -->
	<button><a href="/contacts">See All</a></button>

	<!-- Search For ...  -->
	<button><a href="/contacts/search">Search</a></button>
</div>
